obstacle_range: 2.5
raytrace_range: 3
footprint: [[-0.12, -0.14], [-0.12, 0.14], [0.12, 0.14], [0.12, -0.14]]
inflation_radius: 0.55
transform_tolerance: 0.5

observation_sources: scan
scan:
  data_type: LaserScan
  topic: scan
  marking: true
  clearing: true

map_type: costmap
