
<launch>
    
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find bot_v1)/urdf/bot_v1.xacro' "/>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    </node>


    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find bot_v1)/rviz/bot_v1.rviz" >
    </node>


</launch>